<#import "../macros/home.ftlh" as h>
<#import "../macros/table.ftlh" as t>

<@h.home "Список клиентов">

  <@t.table "clients" />
  <table id="clients" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Город</th>
        <th>Аквтивен</th>
        <th>Скидка</th>
        <th>Действие</th>
      </tr>
    </thead>
    <tbody>
      <#list clients as client>
        <tr>
          <td>${client.id?c}</td>
          <td>${client.name!}</td>
          <td>${client.city!}</td>
          <td><#if client.active>Yes<#else>No</#if></td>
          <td>${client.discount}</td>
          <td>
            <a class="btn btn-xs btn-info" href="clients/edit/${client.id?c}">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </#list>
    </tbody>
  </table>

</@h.home>
